<div data-controller="update-turbo-links toggle">
  <div class="row mb-1">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :name,
                        class: "form-control #{"is-invalid" if assignment.errors[:name].any?}",
                        placeholder: t(:assignment_name),
                        required: true %>
        <%= form.label :name, t(:assignment_name) do %>
          <%= t(:assignment_name) %>
          <span class='text-danger'>*</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :original_language, class: "form-control", placeholder: t(:original_language) %>
        <%= form.label :original_language,
                   t(:original_language_with_example),
                   class: "text-truncate w-100",
                   for: "assignment_original_language" %>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :translated_language, class: "form-control", placeholder: t(:translated_language) %>
        <%= form.label :translated_language,
                   t(:translated_language_with_example),
                   class: "text-truncate w-100",
                   for: "assignment_translated_language" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m-2">
      <div class="from-check">
        <%= form.check_box :wrong_translations,
                       class: "form-check-input",
                       data: {
                         action: "change->toggle#toggle change->update-turbo-links#updateLinks",
                         update_turbo_links_target: "checkbox",
                       } %>
        <%= form.label :wrong_translations, t(:wrong_translations), class: "form-check-label" %>
        <div class="form-text"><%= t(:wrong_translations_explanation) %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="words">
        <% assignment.words.each do |word| %>
          <%= render "word_fields", word: word, wrong_translations: @assignment.wrong_translations %>
        <% end %>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <% if @assignment.persisted? %>
          <%= link_to t(:add_translation),
          add_word_path(@assignment.private_task_code),
          data: {
            turbo_stream: true,
            update_links_target: "link",
          },
          class: "btn btn-info btn-sm add-word-link" %>
        <% else %>
          <%= link_to t(:add_translation),
          add_word_new_assignments_path,
          data: {
            turbo_stream: true,
            update_turbo_links_target: "link",
          },
          class: "btn btn-info btn-sm add-word-link" %>
        <% end %>
      </div>

      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
