<% if assignment.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= t("errors.template.header", model: Assignment.model_name.human, count: assignment.errors.count) %></h4>
    <ul>
      <% assignment.errors.each do |error| %>
        <li><%= "#{assignment.class.human_attribute_name(error.attribute)} #{error.message}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="alert alert-info" role="alert">
  <p>
    <strong>Feile oversettelser:</strong><br/>
    Dersom nivå 1 (velge rett oversettelse) skal være tilgjengelig i oppgaven må alle feile oversettelser fylles inn.
  </p>
</div>
<div class="card">
  <div class="card-body">
    <% if assignment.new_record? %>
      <%= form_with(model: assignment) do |form| %>
        <%= render "form_fields", form: form, assignment: assignment %>
      <% end %>
    <% else %>
      <%= form_with(model: assignment, url: update_assignment_path(assignment.private_task_code), method: :patch) do |form| %>
        <%= render "form_fields", form: form, assignment: assignment %>
      <% end %>
    <% end %>
  </div>
</div>
