<div class="row">
  <div class="col-md-6">
    <h5>Original tekst</h5>
    <p><%= word.original_text %></p>
    <% ['original_text_error1', 'original_text_error2', 'original_text_error3'].each_with_index do |field, index| %>
      <% if word.send(field).present? %>
        <small class="text-muted">Alternative
          <%= index + 1 %>:
          <%= word.send(field) %></small><br>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h5>Oversatt tekst</h5>
    <p><%= word.translated_text %></p>
    <% ['translated_text_error1', 'translated_text_error2', 'translated_text_error3'].each_with_index do |field, index| %>
      <% if word.send(field).present? %>
        <small class="text-muted">Alternative
          <%= index + 1 %>:
          <%= word.send(field) %></small><br>
      <% end %>
    <% end %>
  </div>
</div>
