<div class="row justify-content-center">
  <div class="col-auto">
    <h1 class="display-3 fw-bold text-primary"><%= @assignment.name %></h1>
  </div>
</div>
<%= form_with(url: create_run_path(@assignment.public_task_code), class: "card", data: { controller: "checkbox" }) do |form| %>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="px-4 py-2 bg-primary text-white"><%= @assignment.original_language.present? ? @assignment.original_language : t(:original_language) %></th>
          <th class="px-4 py-2 bg-primary text-white"><%= @assignment.translated_language.present? ? @assignment.translated_language : t(:translated_language) %></th>
        </tr>
      </thead>
      <tbody>
        <% @assignment.words.each do |word| %>
          <tr>
            <td class="bg-primary-subtle border border-white px-4 py-2"><%= word.original_text.capitalize %></td>
            <td class="bg-primary-subtle border border-white px-4 py-2"><%= word.translated_text.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="alert alert-info" role="alert">
      <p>
        <%= t(:new_run_info) %>
      </p>
    </div>
    <% [t(:level_one_text), t(:level_two_text), t(:level_three_text)].each_with_index do |level, i| %>
      <div class="form-check mb-3">
        <%= form.check_box :selected_levels,
                       {
                         multiple: true,
                         class: "form-check-input rounded-circle border-0",
                         checked: @assignment.wrong_translations? || i != 0,
                         disabled: i == 0 && !@assignment.wrong_translations?,
                         data: {
                           action: "change->checkbox#check",
                           checkbox_target: "option",
                         },
                       },
                       i + 1,
                       nil %>
        <%= form.label :selected_levels, level, class: "form-check-label ml-2 text-secondary" %>
      </div>
    <% end %>
    <%= form.submit "Start", class: "btn btn-primary mt-3 py-2 px-4 font-medium", autofocus: true %>
  </div>
<% end %>
<div>
  <%= link_to t(:home), root_path %>
</div>
