<div class="container mt-5">
  <h1 class="display-3 fw-bold text-primary text-center">Oppsummering av oppgave</h1>

  <div class="card mb-3">
    <div class="card-header text-center">
      <strong><%= @assignment.name %></strong>
    </div>
    <div class="card-body">
      <dl class="row mb-0">
        <dt class="col-sm-4">Navn:</dt>
        <dd class="col-sm-8 pb-2"><div><%= @assignment.name %></div></dd>

        <dt class="col-sm-4">Offentlig oppgavekode:</dt>
        <dd class="col-sm-8 pb-2">
          <div class="code-font"><%= @assignment.public_task_code %></div>
          <div><%= link_to "LEGG TIL OPPGAVELENKE HER", assignment_summary_path(@assignment.public_task_code) %></div>
          <div class="text-muted">Dette er den offentlige kode for denne oppgaven. Kopier koden eller lenken til oppgaven for å dele den med
            andre,</div>
        </dd>

        <dt class="col-sm-4">Privat oppgavekode:</dt>
        <dd class="col-sm-8">
          <div class="code-font"><%= @assignment.private_task_code %></div>
          <div><%= link_to "Link til denne siden", assignment_summary_path(@assignment.private_task_code) %></div>
          <div class="text-muted">Dette er din private kode for denne oppgaven. Kopier og lagre lenken til denne siden dersom du trenger å
            oppdatere oppgaven ved et senere tidspunkt.</div>
        </dd>
      </dl>

      <h5>Oversettelser</h5>

      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">Original tekst</th>
            <th scope="col">Oversatt tekst</th>
          </tr>
        </thead>
        <tbody>
          <% @assignment.words.each do |word| %>
            <tr class="table-success">
              <td><strong><%= word.original_text %></strong></td>
              <td><strong><%= word.translated_text %></strong></td>
            </tr>
            <% if @assignment.wrong_translations %>
              <tr class="table-warning">
                <td><small><%= word.original_text_error1 %></small></td>
                <td><small><%= word.translated_text_error1 %></small></td>
              </tr>
              <tr class="table-warning">
                <td><small><%= word.original_text_error2 %></small></td>
                <td><small><%= word.translated_text_error2 %></small></td>
              </tr>
              <tr class="table-warning">
                <td><small><%= word.original_text_error3 %></small></td>
                <td><small><%= word.translated_text_error3 %></small></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Rediger", edit_assignment_path(@assignment.private_task_code), class: "btn btn-primary mt-2" %>
    </div>

  </div>

  <div class="mt-4">
    <%= link_to "Hjem", root_path %>
  </div>
</div>
