<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gloser2" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <script src="https://js-de.sentry-cdn.com/55ae0d5e81a88fb765151e990c0b6617.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <% opposite_locale = I18n.locale == :en ? :nb : :en %>
      <% opposite_locale_name = I18n.t("locales.#{opposite_locale}", locale: opposite_locale) %>
      <ul class="nav justify-content-end mt-3">
        <li class="nav-item"><%= link_to(opposite_locale_name, { locale: opposite_locale }, class: "btn btn-sm btn-outline-secondary") %></li>
      </ul>

      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible fade show mt-2" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
